
div {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
.clear {clear: both;}
.wrapper {
	margin: 0px auto;

	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $deskwidth) {

	}
}

.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.spacer {
	width: 10%;
	border-bottom: 1px solid #000;
	margin: 0 auto;
	border-bottom-color: red;
}
.banner {
  background:
    linear-gradient(
      #E79086, #EECF8E
    );
   height: 100vh;
}

.banner-text {
	text-align: center;
	position: absolute;
	top: 50%;
	bottom: 50%;
	width: 100%;
	h2 {
		text-transform: uppercase;
		color: white;
		font-size: 40pt;
		text-align: center;
	}
	h3 {
		font-style: italic;
		color: white;
	}
}

.row2 {
	width: 100%;
	.Our-Story {
		background-color: white;
		padding: 20px;
		h3 {
			font-style: italic;
			text-align: center;
			padding: 20px 10px 0px 10px;
		}
		h2 {
			text-align: center;
			padding: 0px 10px;
		}
		p {
			text-align: center;
			padding: 20px;
		}
		.Our-Story-Image {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
	}
}

.row3 {
	width: 100%;
	.Newsletter {
		background-color: #96E0D3;
		padding: 10px;
		h3 {
			font-style: italic;
			text-align: center;
			color: white;
		}
		h2 {
			text-align: center;
			color: white;
		}
		p {
			text-align: center;
			color: white;
		}
	}
}

.row4 {
	width: 100%;
	background-color: white;
	padding: 20px;
	.Our-Services {
		h3 {
			font-style: italic;
			text-align: center;
		}
		h2 {
			text-align: center;
		}
		p {
			text-align: center;
			padding: 20px;
		}
	}
}